.main {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}

.page-title {
  font-size: 28px;
  padding-bottom: 10px;
}

.favorites {
  cursor: pointer;
  font-size: 20px;
  color: #00bf63;
  margin-top: 30px;
  text-decoration: underline;
}

.main-itens {
  display: flex;
}

.main-item {
  margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .page-title {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .main-itens {
    flex-direction: column;
  }

  .main-item {
    margin-right: 0;
    margin-top: 20px;
  }
}
