.main {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20vh 0vw;
}

.main-item {
  margin-right: 40px;
}

.main-button {
  width: 380px;
  height: 70px;
}

@media screen and (max-width: 992px) {
  .main {
    flex-direction: column;
    padding-top: 15vh;
  }

  .remove-padding {
    padding: 0vh;
  }

  .main-item {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .main-button {
    max-width: auto;
    font-size: 12px;
    padding: 10px;
    height: 70px;
  }
}
