.scheduling {
  min-height: 65vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
}

.scheduling-title {
  color: #00bf63;
}

@media screen and (max-width: 992px) {
  .page-title {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .scheduling {
    justify-content: center;
  }
}
