.scheduling-box{
    background-color: white;
    border-radius: 16px;
    width: 50vw;
    margin-bottom: 2rem;
}

.scheduling-container {
    display: flex;
    justify-content: center;
}

.scheduling-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scheduling-details{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-right: 20px;
    font-size: 0.9rem;
}
.scheduling-details h4 {
    font-size: 1.3rem;
}

.scheduling-details-box{
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
}

.scheduling-details-info{
    margin:10px;
    text-align: center;
    width: 9vw;
}

.divider{
    margin: 2px 0 6px 0;
    border-right: 1px solid lightgray;
}

.scheduling-text{
    color: #00bf63;
    font-weight: bold;
}

.scheduling-text-description{
    color: #00bf63;
    margin: 0;
}

.view-button{
    min-height: 70px;
}

@media screen and (max-width: 1030px){
    .divider{
        width: 80%;
        border-bottom: 1px solid lightgray;
        margin-left: 1.5em;
    }
    .scheduling-details-box {
        width: 100%;
    }
    .scheduling-details {
        justify-content: center;
        margin: 0;
    }
    .scheduling-container {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    .scheduling-details{
        display: grid;
    }
    .view-button {
        width: 200px;
        height: 50px;
        font-size: 1rem;
        margin-top: 10px;
    }
    click-button:hover {
        background-color: transparent;
        border: none !important;
    }
    .scheduling-details-info{
        width: auto;
    }
    .scheduling-text-description{
        color: #00bf63;
        margin: 0;
    }

}

@media screen and (min-width: 750px) and (max-width: 1030px) {
    .view-button {
        width: 250px;
        height: 60px;
        font-size: 1rem;
        margin-top: 10px;
    }
}