.form-group {
  margin-bottom: 24px;
}

.form-input,
.form-select,
.form-control {
  padding: 10px 15px;
  border-radius: 16px;
  border: none;
}

.form-select {
  padding: 12px 15px;
  font-size: 14px;
}

.form-label {
  color: white;
}

.form-input:active,
.form-input:focus,
.form-select:active,
.form-select:focus, 
.form-control:active,
.form-control:focus {
  outline: 0;
}

.view-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

