.nav-item {
  cursor: pointer;
  background-color: transparent;
  color: aliceblue;
  padding: 10px;
  border-radius: 13px;
  margin: 0px 10px;
}

.active {
  background-color: aliceblue;
  color: #00bf63;
}

.user-data {
  color: aliceblue;
}

#date::placeholder {
  color: gray;
}

@media screen and (max-width: 500px) {

  #content-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .user-icon {
    margin-top: 20px;
  }
}
