.box-doctor {
  background-color: #00bf63;
  color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 13px;
  text-align: center;
}

.infos {
  text-align: left;
}

.address,
.speciality {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .infos {
    padding: 10px;
    text-align: center;
  }
}
