.box-doctor {
  background-color: #00bf63;
  color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 13px;
  text-align: center;
}

.infos {
  text-align: left;
}

.address,
.speciality {
  display: flex;
  flex-direction: column;
}

.btn-agendar-consulta {
  background-color: #1b3d7c;
  color: white;
  border: none;
}

.btn-agendar-consulta:hover {
  background-color: #16305e;
}

.btn-agendar-consulta:disabled {
  background-color: #1E3E7AB0;
}

@media screen and (max-width: 500px) {
  .infos {
    padding: 10px;
    text-align: center;
  }
}
