.form-input-container {
  position: relative;
}

label {
  font-size: 22px;
}

.form-input {
  padding: 10px;
  border-radius: 15px;
  min-width: 100%;
  border: none;
  margin-bottom: 15px;
}

.form-label {
  margin-top: 15px;
  margin-bottom: 2px;
}

.form-input:focus {
  outline: none;
}

.view-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 8.8vh;
}
