.footer {
    background-color: #00bf63;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30vh;
    overflow: auto;
}

.li-footer {
    margin-top: 20px;
    cursor: pointer;
}

.li-footer:hover {
    transition: .5s;
    color: gray;
}

.p-footer {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

.icons {
    margin-left: 10px;
}