.footer {
  background-color: #00bf63;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.li-footer {
  margin-top: 20px;
  cursor: pointer;
}

.li-footer:hover {
  transition: 0.5s;
  color: gray;
}

.p-footer {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.icons {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .footer {
    position: relative;
  }
}
