.picture-box {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 25px;
  padding: 10px;
}
.picture-box-button {
  cursor: pointer;
  border: 2px solid #00bf63;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
}

label {
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .picture-box {
    margin-top: 20px;
  }
}
