button {
  background-color: transparent;
  border: 2px #1E3050 solid;
}

button p {
  font-size: 1.4em;
}

button:hover {
  background-color: #f3f3f3;
}

.icon {
  font-size: 8em;
}

@media screen and (max-width: 1200px) {
  button p {
    font-size: 1.2em;
  }

  .icon {
    font-size: 6em;
  }
}
