button {
  background-color: transparent;
  border: 2px #1e3050 solid;
}

button p {
  font-size: 1.5em;
}

button:hover {
  background-color: #f3f3f3;
}

button div {
  overflow: hidden;
  padding: 1.5em 3rem;
}

.icon {
  font-size: 8em;
}

@media screen and (max-width: 1200px) {
  .icon {
    font-size: 6em;
  }

  button div {
    padding: 1em 2rem;
  }
}
