.next {
  font-size: 24px;
}

.next p {
  padding: 0px 5px;
  cursor: pointer;
  color: white;
}

#content-container {
  min-height: 100%;
}

@media screen and (max-width: 500px) {
  #container {
    padding-right: 0;
    overflow: hidden;
  }
}
