@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

.header-options {
  justify-content: flex-end;
}

.logo {
  fill: currentColor;
}

p {
  color: white;
}

h2 {
  color: white !important;
}

#submit-button {
  display: none;
}

.back-icon {
  position: absolute;
  top: 4vh;
  left: 2.5vw;
  cursor: pointer;
}