<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

.header-options {
  justify-content: flex-end;
}

.logo {
  fill: currentColor;
}

.color-container {
  background-color: #00bf63;
  height: 100vh;
  widht: 50vw;
  overflow: hidden;
  padding-top: 15vh;
  overflow: hidden;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media screen and (max-width: 600px) {
  .color-container {
    height: auto;
    overflow: hidden;
    widht: auto;
    padding: 5vh;
  }
}
