* {
  overflow: auto;
}

.next {
  color: white;
  align-itens: right;
  text-align: right;
  color: white;
}

.next label {
  font-size: 16px;
  padding-right: 10px;
}

.next label,
.next svg {
  cursor: pointer;
}
